<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <div th:replace="bootstrap/title.html"></div>
    <div th:replace="bootstrap/bootstrap_head.html"></div>
</head>

<body>
    <div class="container">
        <div th:replace="bootstrap/bootstrap_nav_header.html"></div>

        <h1>Advance County Filter</h1>
        <h5>Filter</h5>
        <form action="#" th:action="@{/county/advance-results}" th:object="${countyFilter}" method="get">
            <table>
                <tr class="form-group">
                    <th><label for="minpopulation" class="col-form-label">Minimum Population</label></th>
                    <td><input type="number" th:field="*{minpopulation}" class="form-control" id="minpopulation"></td>
                </tr>
                <tr class="form-group">
                    <th><label for="maxpopulation" class="col-form-label">Maximum Population</label></th>
                    <td><input type="number" th:field="*{maxpopulation}" class="form-control" id="maxpopulation"></td>
                </tr>

                <tr class="form-group">
                    <th><label for="minincome" class="col-form-label">Minimum Income</label></th>
                    <td><input type="number" th:field="*{minincome}" class="form-control" id="minincome"></td>
                </tr>
                <tr class="form-group">
                    <th><label for="maxincome" class="col-form-label">Maximum Income</label></th>
                    <td><input type="number" th:field="*{maxincome}" class="form-control" id="maxincome"></td>
                </tr>
                <tr class="form-group">
                    <th><label for="minhousecost" class="col-form-label">Minimum House Cost</label></th>
                    <td><input type="number" th:field="*{minhousecost}" class="form-control" id="minhousecost"></td>
                </tr>
                <tr class="form-group">
                    <th><label for="maxhousecost" class="col-form-label">Maximum House Cost</label></th>
                    <td><input type="number" th:field="*{maxhousecost}" class="form-control" id="maxhousecost"></td>
                </tr>

                <tr class="form-group">
                    <th><label for="mintemperature" class="col-form-label">Minimum Temperature (F)</label></th>
                    <td><input type="number" th:field="*{mintemperature}" class="form-control" id="mintemperature"></td>
                </tr>
                <tr class="form-group">
                    <th><label for="maxtemperature" class="col-form-label">Maximum Temperature (F)</label></th>
                    <td><input type="number" th:field="*{maxtemperature}" class="form-control" id="maxtemperature"></td>
                </tr>

                <tr class="form-group">
                    <th><label for="mincrimerate" class="col-form-label">Minimum Crime Rate</label></th>
                    <td><input type="number" th:field="*{mincrimerate}" class="form-control" id="mincrimerate"></td>
                </tr>
                <tr class="form-group">
                    <th><label for="maxcrimerate" class="col-form-label">Maximum Crime Rate</label></th>
                    <td><input type="number" th:field="*{maxcrimerate}" class="form-control" id="maxcrimerate"></td>
                </tr>

                <tr class="form-group">
                    <th><label for="minunemploymentrate" class="col-form-label">Minimum Unemployment Rate</label></th>
                    <td><input type="number" th:field="*{minunemploymentrate}" class="form-control"
                            id="minunemploymentrate"></td>
                </tr>
                <tr class="form-group">
                    <th><label for="maxunemploymentrate" class="col-form-label">Maximum Unemployment Rate</label></th>
                    <td><input type="number" th:field="*{maxunemploymentrate}" class="form-control"
                            id="maxunemploymentrate"></td>
                </tr>



            </table>


    <input type="submit" class="btn btn-primary" value="Filter">
    </form>

    <div th:replace="bootstrap/bootstrap_footer.html"></div>
    </div>
    <div th:replace="bootstrap/bootstrap_scripts.html"></div>


</body>

</html>