<table class="bootstrap-table" data-sticky-header="true" data-toggle="table" data-search="true" data-show-export="true" data-show-columns="true" data-show-columns-toggle-all="true">
    <thead class="thead-light">
        <tr>
            <th data-sortable="true">County</th>
            <th data-sortable="true">Population</th>
            <th data-sortable="true">Median House Hold Income</th>
            <th data-sortable="true">Median House price</th>
            <th data-sortable="true">Temperature(F)</th>
            <th data-sortable="true">Crime Rate(per 1000 people)</th>
            <th data-sortable="true">Unemployment Rate(%)</th>
            <th data-sortable="true">Student Enrollment</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="county : ${counties}">
            <td th:text="${county.name}"></td>
            <td th:text="${county.population}"></td>
            <td th:text="${county.averageIncome}"></td>
            <td th:text="${county.housePrice}"></td>
            <td th:text="${county.temperature}"></td>
            <td th:text="${county.crimeRate}"></td>
            <td th:text="${county.unEmploymentRate}"></td>
            <td th:text="${county.studentEnrollment}"></td>
        </tr>
    </tbody>
</table>
