<table class="bootstrap-table" data-sticky-header="true" data-toggle="table" data-search="true" data-show-export="true" data-show-columns="true" data-show-columns-toggle-all="true">
    <thead class="thead-light">
        <tr>
            <th data-sortable="true">County</th>
            <th data-sortable="true">Populatio Rank</th>
            <th data-sortable="true">Income Rank</th>
            <th data-sortable="true">House Price Rank</th>
            <th data-sortable="true">Temperature Rank</th>
            <th data-sortable="true">Crime Rate Rank</th>
            <th data-sortable="true">Unemployment Rate Rank</th>
            <th data-sortable="true">Student Enrollment Rank</th>
            
            
        </tr>
    </thead>
    <tbody>
        <tr th:each="county : ${counties}">
            <td th:text="${county.name}"></td>
            <td th:text="${county.populationRank}"></td>
            <td th:text="${county.incomeRank}"></td>
            <td th:text="${county.houseRank}"></td>
            <td th:text="${county.temperatureRank}"></td>
            <td th:text="${county.crimeRank}"></td>
            <td th:text="${county.unemploymentRank}"></td>
            <td th:text="${county.studentRank}"></td>
            
        </tr>
    </tbody>
</table>
